body {
  font-family: "Inter", sans-serif;
}

.telegram-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 200px;
  background-color: #f4f4f4;
  padding: 10px;
}

.sidebar-item {
  cursor: pointer;
  padding: 10px;
  margin: 10px 0;
  background-color: #d1e7dd;
  border-radius: 8px;
  text-align: center;
}

.chat {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.chat-header {
  background-color: #0088cc;
  color: white;
  padding: 10px;
}

.chat-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.avatar {
  width: 40px;
  height: 40px;
  background-color: #fff;
  border-radius: 50%;
  margin-right: 10px;
}

.chat-name {
  font-weight: bold;
}

.chat-body {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 10px;
  overflow-y: auto;
  background-color: #e5e5ea;
}

.message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
}

.message.sent .message-content {
  background-color: #0088cc;
  color: white;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.message.received .message-content {
  background-color: #fff;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.message-content {
  max-width: 60%;
  padding: 10px;
  border-radius: 8px;
}

.chat-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  background-color: #f1f1f1;
}

input[type=text] {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

button {
  padding: 10px 20px;
  background-color: #0088cc;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}